body {
	background-color: rgb(255, 252, 225);
}

.iterator-button {
		position: fixed;
		display: inline-block;
		border: 1px solid black;
		width: 100px;
		height: 60px;
		margin-left: 20px;
}

.iterator-button.bfs-button {
	background-image: url("BFS-background.png");
	background-size: 100px 60px;
}

.iterator-button.dfs-button {
	background-image: url("DFS-background.png");
	background-size: 100px 60px;
	position: fixed;
	top: 75px;
}


.settings_menu {
	position:relative;
	background-color: #1F4284;
	height:100px;
	width: 99%;

}
.settings_menu p {
	position:absolute;
	left:100px;
}

.main {
	margin-top: 25px;
	
}

.area {
	vertical-align: top;
	display: inline-block;
	border: 1px solid black; 
}

.pannel {
	display: inline-block;
	height: 125px;
	width: 50px;
	background-color: #BDC6EA;
	margin-left: 5px;
	margin-top: 2px;
}

.icons {
	width:50px;
	height:60px;
	cursor: pointer;
	border-bottom: 2px solid rgb(42, 23, 23);	
}

.icons:last-of-type {
    border-bottom:none;
}